.ui-widget {
    font-family: Arial !important;
    font-size: 1em !important;
}

.input_container
{
    width:230px;

    padding: 2px;
    border: 1px solid #f6f6f6;
    display: block;
    position: relative;
}

.input_container input:not([type=button]):not([type=submit])
{
    border: none !important;
    width:95%;
}

.input_container > .label_div
{
    position: absolute;
    width:226px;
    /*top: 2px;*/
    top: 8px;
    color: #41a83e;
}

.input_div > input {
    color: #5f5f5f;
    font-size: 1em;
    height: 32px;
    padding: 3px;
    width: 230px;
}

.captcha_div{
    height:60px;
    width:230px;
}